/* ======================= - ESTRELLAS - ============================ */
@mixin sp-layout {
  @media screen and (max-width: 750px) {
    @content;
  }
}

.fondo_estrellas {
  min-height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  background: radial-gradient(ellipse at bottom, #0d1d31 0%, #0c0d13 100%);
}

@function random_range($min, $max) {
  $rand: random();
  $random_range: $min +floor($rand * (($max - $min) + 1));
  @return $random_range;
}

.stars {
  width: 0px;
  transform: rotate(-20deg);
}

.star {
  $star-count: 20;
  --star-color: white;
  --star-tail-length: 6em;
  --star-tail-height: 2px;
  --star-width: calc(var(--star-tail-length) / 6);
  --fall-duration: 10s;
  --tail-fade-duration: var(--fall-duration);

  position: absolute;
  top: var(--top-offset);
  left: 0;
  width: var(--star-tail-length);
  height: var(--star-tail-height);
  color: var(--star-color);
  background: linear-gradient(45deg, currentColor, transparent);
  border-radius: 50%;
  filter: drop-shadow(0 0 6px currentColor);
  transform: translate3d(130em, 0, 0);
  animation: fall var(--fall-duration) var(--fall-delay) linear infinite, tail-fade var(--tail-fade-duration) var(--fall-delay) ease-out infinite;

  @include sp-layout {
    // For mobile performance, tail-fade animation will be removed QAQ
    animation: fall var(--fall-duration) var(--fall-delay) linear infinite;
  }

  @for $i from 1 through $star-count {
    &:nth-child(#{$i}) {
      --star-tail-length: #{calc(random_range(100em, 850em) / 200)};
      --top-offset: #{calc(random_range(0vh, 3000vh) / 100)};
      --fall-duration: #{calc(random_range(3000, 12000s) / 600)};
      --fall-delay: #{calc(random_range(0, 10000s) / 1000)};
    }
  }

  &::before,
  &::after {
    position: absolute;
    content: '';
    top: 0;
    left: calc(var(--star-width) / -2);
    width: var(--star-width);
    height: 100%;
    background: linear-gradient(45deg, transparent, currentColor, transparent);
    border-radius: inherit;
    animation: blink 2s linear infinite;
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }
}

@keyframes fall {
  to {
    transform: translate3d(-30em, 0, 0);
  }
}

@keyframes tail-fade {

  0%,
  50% {
    width: var(--star-tail-length);
    opacity: 1;
  }

  70%,
  80% {
    width: 0;
    opacity: 0.4;
  }

  100% {
    width: 0;
    opacity: 0;
  }
}

@keyframes blink {
  50% {
    opacity: 0.6;
  }
}

/* ======================= - Texto Inicio - ============================ */


// Variables color 
$colorSombra: #777777;
$colorSombraFoto: #000000;
$colorSombraMontania: #4a0075d3;

.ini_text {
  margin: 30px;
  text-shadow: 0px 1px 0px $colorSombra,
    0px 2px 0px $colorSombra,
    0px 3px 0px $colorSombra,
    0px 4px 0px $colorSombra,
    3px 10px 8px #000000;
  transition: 0.3s all ease;
  animation: bounce;
  animation-duration: 2s;
}

.text_hola {
  animation-delay: 1s;
  font-size: 50px;
}

.text_nombre {
  animation-delay: 1.3s;
}

.text_descripcion {
  animation-delay: 1.6s;
}

/* ======================= - Responsive - ============================ */

@media (max-width: 1000px) {
  .contenedor_logo {
    display: flex;
    justify-content: center;
  }

  .ini_text {
    margin: 30px;
    text-shadow: 0px 1px 0px $colorSombra,
      0px 2px 0px $colorSombra,
      0px 3px 0px $colorSombra,
      0px 4px 0px $colorSombra,
      3px 10px 8px #000000;
    transition: 0.3s all ease;
    animation: bounce;
    animation-duration: 2s;
    animation-iteration-count: infinite;
  }

  .text_hola {
    animation-delay: 2s;
    font-size: 50px;
  }

  .text_nombre {
    animation-delay: 2.3s;
  }

  .text_descripcion {
    animation-delay: 2.6s;
  }

  .logo_personal {
    width: 300px;
  }

  .foto_personal {
    width: 300px;
  }
}

@media (min-width: 1000px) {

  .ini_text:hover {
    transform: translateY(-20px) scale(1.1);
    text-shadow: 0px 1px 0px $colorSombra,
      0px 2px 0px $colorSombra,
      0px 3px 0px $colorSombra,
      0px 4px 0px $colorSombra,
      0px 5px 0px $colorSombra,
      0px 6px 0px $colorSombra,
      3px 20px 8px #000000;
  }

  .conteiner_montania:hover {
    filter: drop-shadow(50px 0px 50px $colorSombraMontania);
    transform: translateY(20px);
  }

  .foto_personal:hover {
    transform: rotate(360deg) scale(1.2);
    filter: drop-shadow(3px 15px 8px $colorSombraFoto);
  }

  .logo_personal:hover {
    transition: 0.2s all ease-in;
    filter: drop-shadow(0px 3px 5px rgb(128, 37, 112));
  }
}

/* ======================= - Contenedor - ============================ */

.contenedor_info {
  z-index: 1;
  margin: auto;
}

/* ======================= - Foto Personal - ============================ */

.foto_personal {
  filter: drop-shadow(0px 5px 10px $colorSombraFoto);
  transition: 1s all ease-in-out;
}

/* ======================= - Montaña - ============================ */

.conteiner_montania {
  filter: drop-shadow(5px 10px 30px $colorSombraMontania);
  transition: 0.2s all ease-out;
  z-index: 2;
}