<div class="fondo_estrellas">
    <div class="contenedor_logo">
        <img class="img-fluid col-sm-1 text m-3 logo_personal animate__animated animate__backInDown" src="{{urlImg[0]}}"
            alt="Logo Personal Sebastian Legnazzi">
    </div>
    <div class="row text-center contenedor_info">
        <div class="col-md-7 animate__animated animate__fadeIn animate__delay-1s">
            <div class="col-12">
                <h1 class="ini_text d-inline-block text_hola">Hola!</h1>
            </div>
            <div class="col-12">
                <h1 class="ini_text d-inline-block text_nombre">Soy Sebastian Legnazzi</h1>
            </div>
            <div class="col-12">
                <h1 class="ini_text d-inline-block text_descripcion">Desarrollador FullStack</h1>
            </div>
        </div>
        <div class="col-md-5">
            <img src="{{urlImg[1]}}" class="img-fluid col-md-6 col-sm-4 foto_personal me-md-5 animate__animated animate__fadeIn animate__delay-1s"
                alt="Foto de Sebastian Lengazzi">
        </div>
    </div>
    <div class="stars">
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
    </div>
    <div class="conteiner_montania">
        <img src="{{urlImg[2]}}" class="img-fluid montania animate__animated animate__fadeInUpBig animate__delay-1s" alt="Montaña">
    </div>
</div>
