<div class="conteiner_estudios pt-3">
    <h2>Estudios</h2>
    <div class="v-line" data-aos="flip-right"></div>
    <div class="container overflow-hidden text-center">
        <div class="contenedor_terjetas row g-5 mt-5">
            <div class="col-md-6 d-flex justify-content-center" *ngFor="let objEstudio of objEstudios">
                <div class="card" data-aos="flip-up">
                    <div class="face face1">
                        <div class="content">
                            <i class="fab fa-windows"></i>
                            <h3>{{objEstudio.titulo}}</h3>
                        </div>
                    </div>
                    <div class="face face2">
                        <div class="content">
                            <p>▶ Institucion: {{objEstudio.academia}}</p>
                            <p>▶ Duracion: {{objEstudio.duracion}}</p>
                            <p>▶ Aprendido: {{objEstudio.aprendido}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
