<div class="conteiner_estudios  pt-3">
    <h2 class="text-center">Estudios</h2>
    <div class="v-line" data-aos="fade-down" data-aos-easing="linear"></div>
    <div class="container overflow-hidden text-center">
        <div class="contenedor_terjetas row g-5 mt-5">
            <div class="col-md-6 d-flex justify-content-center">
                <div class="p-3 col-md-12 col-lg-8 tarjeta rounded-3" data-aos="flip-up">
                    <h5>Tecnicatura Universitaria en Desarrollo</h5>
                    <h6>Hola</h6>
                    <p class="text-start ms-3">Hasdasd</p>
                </div>
            </div>
        </div>
    </div>
</div>